[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "*"
dbt-redshift = "*"
notebook = "*"
pandas = "*"
numpy = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
getpass4 = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
